@model IEnumerable<KidzWorld.Models.SellerReview>

@{
    ViewData["Title"] = "MyReviews";
}

<h1>My Reviews</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellersReviews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellersReviews.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
        </tr>
}
    </tbody>
</table>
